<%- include('top') %>
<h1><%= title %></h1>
<form action="" method="post">
  <label for="crs_name">שם קורס</label>
  <input type="text" name="name" id="crs_name" value="<%= data.name %>"/>
  <button>send</button>
</form>
<%- include('bottom') %>
