<%- include('top_page') %>
<h1>welcome</h1>
<nav>
    <a href="/U/List">Users</a>
    <a href="/Crs/List">Courses</a>
    <a href="/A/List">Activities</a>
</nav>
<table>
    <tr>
        <% for(let r=1;r<=10;r++) { %>
        <td><%- r %></td>
        <% } %>
    </tr>
</table>
<%- include('bottom_page') %>
