<%- include('top_page') %>
<form action="" method="post">
    <label for="uname">username</label>
    <input type="text" name="uname" id="uname">
    <label for="passwd">password</label>
    <input type="text" name="passwd" id="passwd">
    <button>send</button>
</form>
<%- include('bottom_page') %>
